body {
  background-color: #6a62d2;
}

div {
  color: #464646;
  font-size: 20px;
  font-weight: bold;
}

section {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  margin: 150px auto;
}

form {
  text-align: center;
  padding-top: 30px;
}

input {
  margin-top: 20px;
}
